.target-block {
  width: 100%;
  background: $lightGray;
  position: relative;
  overflow: hidden;
  
  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  .fill {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: $info;
    width: 100%;
  }

  .content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    p {
      font-family: $roboto;
      font-weight: 700;
      font-size: 36pt;
      color: #fff;
      line-height: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      span {
        display: block;
        font-size: 15pt;
        font-weight: 400;
      }
    }
  }
}
